.user-row {
  display: flex;
}
.cell {
  flex: 1;
}
.user-holder {
  max-width: 1200px;
  margin: 0 auto;
}
.head-row {
  display: flex;
  border-bottom: solid 1px #aaa;
  margin-bottom: 10px;
}
.cell-no {
  flex: 1; 
}
.cell-title {
  flex: 7; 
}
.cell-read {
  flex: 1; 
}
.post-desc {
  max-width: 900px;
  margin: 0 auto;
}
.comments-holder {
  margin-top: 55px;
}
.comment-row {
  border-bottom: solid 1px #aaa;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.post-card-header {
  display: flex;
}
.title-holder {
  flex: 10;
}
.delete-button-holder {
    display: inline;
    height: 30px;
    margin: auto;
}
.pagination-holder {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}
.page {
  display: inline-block;
  padding: 10px;
  border: solid 1px #aaa;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}